.box-30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.mt-60{
    margin-top: 60px;
}
.footer-content{
    height: 60px;
    line-height: 60px;
}

body{

}

nav{
    font-weight: 700;
    font-size: 20pt;
}


#主視覺 img{
    size: ;
}

#認識亞洲臉紅症-2{
    background:#84ad6a;
    
}



#認識亞洲臉紅症 .a{
    background:#84ad6a;
    
}

#天生不適合飲酒{
    background:#84ad6a;
}

#愛注意 {
    background:#84ad6a;
}

#精準健康標語 {
    background:#84ad6a;
}

#計畫人數 {
    background:#84ad6a;
}

